<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <!--
    Microsoft AutoUpdate payloads are designated by specifying com.microsoft.autoupdate2 as the PayloadType.
  -->
<plist version="1.0">
  <dict>
    <key>AcknowledgedDataCollectionPolicy</key>
      <!--
      -->
    <string>RequiredDataOnly</string>
    <!--
    <key>Applications</key>
    <dict>
    </dict>
    -->
    <key>ChannelName</key>
      <!--
      -->
    <string>Production</string>
    <key>DisableInsiderCheckbox</key>
      <!--
      -->
    <true/>
    <key>EnableCheckForUpdatesButton</key>
      <!--
      -->
    <false/>
    <key>ExtendedLogging</key>
      <!--
      -->
    <false/>
    <key>HowToCheck</key>
      <!--
      -->
    <string>Manual</string>
    <!--
    <key>ManifestServer</key>
    <string></string>
    -->
    <key>StartDaemonOnAppLaunch</key>
      <!--
      -->
    <false/>
    <!--
    <key>UpdateCache</key>
    <string></string>
    -->
    <!--
    <key>UpdateCheckFrequency</key>
    <integer>720</integer>
    -->
    <!--
    <key>UpdateDeadline.ApplicationsForcedUpdateSchedule</key>
    <dict></dict>
    -->
    <!--
    <key>UpdateDeadline.DaysBeforeForcedQuit</key>
    <integer></integer>
    -->
    <!--
    <key>UpdateDeadline.StartAutomaticUpdates</key>
    <integer></integer>
    -->
  </dict>
</plist>
