<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <!--
    The Safari payload is designated by specifying com.apple.Safari as the PayloadType value.
    In addition to the settings common to all payloads, this payload defines the following keys:
  -->
<plist version="1.0">
  <dict>
    <key>NewTabBehavior</key>
      <!--
        integer
      -->
    <integer>1</integer>
    <key>TabCreationPolicy</key>
      <!--
        integer
      -->
    <integer>1</integer>
    <key>AutoFillMiscellaneousForms</key>
      <!--
        boolean
      -->
    <false/>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptEnabled</key>
      <!--
        boolean
      -->
    <true/>
    <key>WebKitJavaScriptCanOpenWindowsAutomatically</key>
      <!--
        boolean
      -->
    <true/>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2DeveloperExtrasEnabled</key>
      <!--
        boolean
      -->
    <false/>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2PlugInSnapshottingEnabled</key>
      <!--
        boolean
      -->
    <false/>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2StorageBlockingPolicy</key>
      <!--
        integer
      -->
    <integer>0</integer>
    <key>WebKitPluginsEnabled</key>
      <!--
        boolean
      -->
    <true/>
    <key>WebKitStorageBlockingPolicy</key>
      <!--
        integer
      -->
    <integer>0</integer>
    <key>HistoryAgeInDaysLimit</key>
      <!--
        integer
      -->
    <integer>365</integer>
    <key>DownloadsClearingPolicy</key>
      <!--
        integer
      -->
    <integer>0</integer>
    <key>WarnAboutFraudulentWebsites</key>
      <!--
        boolean
      -->
    <true/>
    <key>CanPromptForPushNotifications</key>
      <!--
        boolean
      -->
    <false/>
    <key>BlockStoragePolicy</key>
      <!--
        integer
      -->
    <integer>1</integer>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2JavaScriptCanOpenWindowsAutomatically</key>
      <!--
        boolean
      -->
    <true/>
    <key>LastSafariVersionWithWelcomePage</key>
      <!--
        string
      -->
    <string>12.0</string>
    <key>NewWindowBehavior</key>
      <!--
        integer
      -->
    <integer>0</integer>
    <key>AutoFillPasswords</key>
      <!--
        boolean
      -->
    <false/>
    <key>AutoFillFromAddressBook</key>
      <!--
        boolean
      -->
    <false/>
    <key>WebKitDeveloperExtrasEnabledPreferenceKey</key>
      <!--
        boolean
      -->
    <false/>
    <key>com.apple.Safari.ContentPageGroupIdentifier.WebKit2PluginsEnabled</key>
      <!--
        boolean
      -->
    <true/>
    <key>ExtensionsEnabled</key>
      <!--
        boolean
      -->
    <false/>
    <key>DefaultBrowserPromptingState</key>
      <!--
        integer
      -->
    <integer>4</integer>
    <key>HomePage</key>
      <!--
        string
      -->
    <string>http://www.vermilionschools.org/</string>
    <key>IncludeDevelopMenu</key>
      <!--
        boolean
      -->
    <false/>
    <key>AutoFillCreditCardData</key>
      <!--
        boolean
      -->
    <false/>
    <key>AlwaysRestoreSessionAtLaunch</key>
      <!--
        boolean
      -->
    <false/>
    <key>WebKitJavaScriptEnabled</key>
      <!--
        boolean
      -->
    <true/>
    <key>ManagedPlugInPolicies</key>
      <!--
        dictionary
      -->
    <dict>
      <key>com.oracle.java.JavaAppletPlugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
      <key>com.wolfram.mathematica.player.plugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
      <key>com.microsoft.SilverlightPlugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
      <key>com.macromedia.Flash Player.plugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
      <key>com.apple.QuickTime Plugin.plugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
      <key>com.macromedia.Flash Player ESR.plugin</key>
      <dict>
        <key>PlugInFirstVisitPolicy</key>
        <string>PlugInPolicyAllowNoSecurityRestrictions</string>
        <key>PlugInDisallowPromptBeforeUseDialog</key>
        <true/>
        <key>PlugInRunUnsandboxedOnFirstVisit</key>
        <true/>
      </dict>
    </dict>
    <key>AutoOpenSafeDownloads</key>
      <!--
        boolean
      -->
    <true/>
  </dict>
</plist>
