<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
  <!--
    Mozilla Firefox payloads are designated by specifying org.mozilla.firefox as the PayloadType.
  -->
<plist version="1.0">
  <dict>
    <key>EnterprisePoliciesEnabled</key>
      <!--
        boolean
        Enable policy support on macOS.
      -->
    <true/>
    <!--
    <key>AppUpdateURL</key>
      <!
        string
        Change the URL for application update.
      >
    <string>https://www.example.com/update.xml</string>
    -->
    <!--
    <key>Authentication</key>
      <!
        dictionary
        Configure sites that support integrated authentication.
      >
    <dict>
      <key>SPNEGO</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>Delegated</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>NTLM</key>
      <array>
        <string>mydomain.com</string>
        <string>https://myotherdomain.com</string>
      </array>
      <key>AllowNonFQDN</key>
      <dict>
        <key>SPNEGO</key>
        <true/>
        <key>NTLM</key>
        <true/>
      </dict>
    </dict>
    -->
    <key>BlockAboutAddons</key>
      <!--
        boolean
        Block access to the Add-ons Manager (about:addons).
      -->
    <true/>
    <!--
    <key>BlockAboutConfig</key>
      <!
        boolean
        Block access to about:config.
      >
    <true/>
    -->
    <!--
    <key>BlockAboutProfiles</key>
      <!
        boolean
        Block access to About Profiles (about:profiles).
      >
    <true/>
    -->
    <!--
    <key>BlockAboutSupport</key>
      <!
        boolean
        Block access to Troubleshooting Information (about:support).
      >
    <true/>
    -->
    <key>Bookmarks</key>
      <!--
        array
        Add bookmarks in either the bookmarks toolbar or menu.
      -->
    <array>
      <dict>
        <key>Title</key>
        <string>Vermilion Schools</string>
        <key>URL</key>
        <string>http://www.vermilionschools.org</string>
      </dict>
      <!--
      <dict>
        <key>Title</key>
        <string>Example2</string>
        <key>URL</key>
        <string>https://www.example.com</string>
        <key>Favicon</key>
        <string>https://www.example.com/favicon.ico</string>
        <key>Placement</key>
        <string>menu</string>
        <key>Folder</key>
        <string>Example2Folder</string>
      </dict>
      -->
    </array>
    <!--
    <key>CaptivePortal</key>
      <!
        boolean
        Enable or disable the detection of captive portals.
      >
    <false/>
    -->
    <!--
    <key>Certificates</key>
    <dict>
      <key>ImportEnterpriseRoots</key>
        <!
          boolean
          Trust certificates that have been added to the operating system certificate store by a user or administrator.
        >
      <true/>
      <key>Install</key>
        <!
          array
          Install certificates into the Firefox certificate store.
        >
      <array>
        <string>cert1.der</string>
        <string>cert2.pem</string>
      </array>
    </dict>
    -->
    <!--
    <key>Cookies</key>
      <!
        dictionary
        Configure cookie preferences.
      >
    <dict>
      <key>Allow</key>
      <array>
        <string>https://www.example.org/</string>
      </array>
      <key>Block</key>
      <array>
        <string>https://www.example.edu/</string>
      </array>
      <key>Default</key>
      <false/>
      <key>AcceptThirdParty</key>
      <string>never</string>
      <key>ExpireAtSessionEnd</key>
      <true/>
      <key>RejectTracker</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>DefaultDownloadDirectory</key>
      <!
        string
        Set the default download directory.
      >
    <string>${home}/Downloads</string>
    -->
    <!--
    <key>DownloadDirectory</key>
      <!
        string
        Set and lock the download directory.
      >
    <string>${home}/Downloads</string>
    -->
    <!--
    <key>DNSOverHTTPS</key>
      <!
        dictionary
        Configure DNS over HTTPS.
      >
    <dict>
      <key>Enabled</key>
      <false/>
      <key>ProviderURL</key>
      <string>URL_TO_ALTERNATE_PROVIDER</string>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <key>DisableAppUpdate</key>
      <!--
        boolean
        Turn off application updates.
      -->
    <true/>
    <key>DisableBuiltinPDFViewer</key>
      <!--
        boolean
        Disable the built in PDF viewer.
      -->
    <true/>
    <key>DisableDeveloperTools</key>
      <!--
        boolean
        Remove access to all developer tools.
      -->
    <true/>
    <!--
    <key>DisableFeedbackCommands</key>
      <!
        boolean
        Disable the menus for reporting sites.
      >
    <true/>
    -->
    <key>DisableFirefoxAccounts</key>
      <!--
        boolean
        Disable Firefox Accounts integration (Sync).
      -->
    <true/>
    <!--
    <key>DisableFirefoxScreenshots</key>
      <!
        boolean
        Remove access to Firefox Screenshots.
      >
    <true/>
    -->
    <!--
    <key>DisableFirefoxStudies</key>
      <!
        boolean
        Disable Firefox studies (Shield).
      >
    <true/>
    -->
    <!--
    <key>DisableForgetButton</key>
      <!
        boolean
        Disable the "Forget" button.
      >
    <true/>
    -->
    <key>DisableFormHistory</key>
      <!--
        boolean
        Turn off saving information on web forms and the search bar.
      -->
    <true/>
    <key>DisableMasterPasswordCreation</key>
      <!--
        boolean
        Remove the master password functionality.
      -->
    <true/>
    <!--
    <key>DisablePocket</key>
      <!
        boolean
        Remove Pocket in the Firefox UI.
      >
    <true/>
    -->
    <key>DisablePrivateBrowsing</key>
      <!--
        boolean
        Remove access to private browsing.
      -->
    <true/>
    <key>DisableProfileImport</key>
      <!--
        boolean
        Disables the "Import data from another browser" option in the bookmarks window.
      -->
    <true/>
    <!--
    <key>DisableProfileRefresh</key>
      <!
        boolean
        Disable the Refresh Firefox button on about:support and support.mozilla.org
      >
    <true/>
    -->
    <!--
    <key>DisableSafeMode</key>
      <!
        boolean
        Disable safe mode within the browser.
      >
    <true/>
    -->
    <!--
    <key>DisableSecurityBypass</key>
      <!
        dictionary
        Prevent the user from bypassing security in certain cases.
      >
    <dict>
      <key>InvalidCertificate</key>
      <true/>
      <key>SafeBrowsing</key>
      <true/>
    </dict>
    -->
    <!--
    <key>DisableSetDesktopBackground</key>
      <!
        boolean
        Remove the "Set As Desktop Background..." menuitem when right clicking on an image.
      >
    <true/>
    -->
    <key>DisableSystemAddonUpdate</key>
      <!--
        boolean
        Prevent system add-ons from being installed or update.
      -->
    <true/>
    <!--
    <key>DisableTelemetry</key>
      <!
        boolean
        Disable Telemetry.
      >
    <true/>
    -->
    <!--
    <key>DisplayBookmarksToolbar</key>
      <!
        boolean
        Set the initial state of the bookmarks toolbar.
      >
    <true/>
    -->
    <key>DontCheckDefaultBrowser</key>
      <!--
        boolean
        Don't check if Firefox is the default browser at startup.
      -->
    <true/>
    <!--
    <key>EnableTrackingProtection</key>
      <!
        dictionary
        Configure tracking protection.
      >
    <dict>
      <key>Value</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>Extensions</key>
      <!
        dictionary
        Control the installation, uninstallation and locking of extensions.
      >
    <dict>
      <key>Install</key>
      <array>
        <string>https://addons.mozilla.org/firefox/downloads/file/1053714/ghostery_privacy_ad_blocker-8.2.4-an+fx.xpi</string>
      </array>
      <key>Uninstall</key>
      <array/>
      <key>Locked</key>
      <array>
        <string>firefox@ghostery.com</string>
      </array>
    </dict>
    -->
    <!--
    <key>ExtensionUpdate</key>
      <!
        boolean
        Control extension updates.
      >
    <false/>
    -->
    <!--
    <key>FirefoxHome</key>
      <!
        dictionary
        Customize the Firefox Home page.
      >
    <dict>
      <key>Search</key>
      <true/>
      <key>TopSites</key>
      <true/>
      <key>Highlights</key>
      <true/>
      <key>Pocket</key>
      <false/>
      <key>Snippets</key>
      <false/>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>FlashPlugin</key>
      <!
        dictionary
        Configure the default Flash plugin policy as well as origins for which Flash is allowed.
      >
    <dict>
      <key>Allow</key>
      <array>
        <string>https://www.example.com</string>
      </array>
      <key>Block</key>
      <array>
        <string>https://www.example.org</string>
      </array>
      <key>Default</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>HardwareAcceleration</key>
      <!
        boolean
        Control hardware acceleration.
      >
    <false/>
    -->
    <key>Homepage</key>
      <!--
        dictionary
        Configure the default homepage and how Firefox starts.
      -->
    <dict>
      <key>URL</key>
      <string>http://www.vermilionschools.org</string>
      <key>Locked</key>
      <true/>
      <!--
      <key>Additional</key>
      <array>
        <string>https://www.example.com/extra-home1.htm</string>
        <string>https://www.example.com/extra-home2.htm</string>
        <string>https://www.example.com/extra-home3.htm</string>
      </array>
      -->
      <key>StartPage</key>
      <string>homepage</string>
    </dict>
    <key>InstallAddonsPermission</key>
      <!--
        dictionary
        Configure the default extension install policy as well as origins for extension installs are allowed.
      -->
    <dict>
      <key>Allow</key>
      <array>
      </array>
      <key>Default</key>
      <false/>
    </dict>
    <!--
    <key>LocalFileLinks</key>
      <!
        array
        Enable linking to local files by origin.
      >
    <array>
      <string>http://example.org</string>
      <string>http://example.edu</string>
    </array>
    -->
    <!--
    <key>NetworkPrediction</key>
      <!
        boolean
        Enable or disable network prediction (DNS prefetching).
      >
    <false/>
    -->
    <!--
    <key>NewTabPage</key>
      <!
        boolean
        Enable or disable the New Tab page.
      >
    <false/>
    -->
    <key>NoDefaultBookmarks</key>
      <!--
        boolean
        Disable the creation of default bookmarks.
      -->
    <true/>
    <key>OfferToSaveLogins</key>
      <!--
        boolean
        Control whether or not Firefox offers to save passwords.
      -->
    <false/>
    <!--
    <key>OverrideFirstRunPage</key>
      <!
        boolean
        Override the first run page.
      >
    <string>https://www.example.com</string>
    -->
    <!--
    <key>OverridePostUpdatePage</key>
      <!
        string
        Override the upgrade page.
      >
    <string></string>
    -->
    <!--
    <key>Permissions</key>
      <!
        dictionary
        Set permissions associated with camera, microphone, location, and notifications.
      >
    <dict>
      <key>Camera</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Microphone</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Location</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
      <key>Notifications</key>
      <dict>
        <key>Allow</key>
        <array>
          <string>https://example.org</string>
        </array>
        <key>Block</key>
        <array>
          <string>https://example.edu</string>
        </array>
        <key>BlockNewRequests</key>
        <true/>
        <key>Locked</key>
        <true/>
      </dict>
    </dict>
    -->
    <!--
    <key>PopupBlocking</key>
      <!
        dictionary
        Configure the default pop-up window policy as well as origins for which pop-up windows are allowed.
      >
    <dict>
      <key>Allow</key>
      <array>
        <string>https://www.example.org</string>
        <string>https://www.example.edu</string>
      </array>
      <key>Default</key>
      <true/>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>Preferences</key>
      <!
        dictionary
        Set and lock some preferences.
      >
    <dict>
      <key>app.update.auto</key>
      <true/>
      <key>security.default_personal_cert</key>
      <string>Ask Every Time</string>
    </dict>
    -->
    <!--
    <key>Proxy</key>
      <!
        dictionary
        Configure proxy settings.
      >
    <dict>
      <key>SocksVersion</key>
      <string>4</string>
      <key>Mode</key>
      <string>manual</string>
      <key>HTTPProxy</key>
      <string>proxy.example.com:80</string>
      <key>Locked</key>
      <true/>
    </dict>
    -->
    <!--
    <key>RequestedLocales</key>
      <!
        array
        Set the the list of requested locales for the application in order of preference.
      >
    <array>
      <string>de</string>
      <string>en-US</string>
    </array>
    -->
    <!--
    <key>SanitizeOnShutdown</key>
      <!
        boolean
        Clear all data on shutdown.
      >
    <true/>
    -->
    <!--
    <key>SearchBar</key>
      <!
        string
        Set whether or not search bar is displayed.
      >
    <string>separate</string>
    -->
    <!--
    <key>WebsiteFilter</key>
      <!
        dictionary
        Block websites from being visited.
      >
    <dict>
      <key>Block</key>
      <array>
        <string>&lt;all_urls&gt;</string>
      </array>
      <key>Exceptions</key>
      <array>
        <string>https://www.google.com/*</string>
        <string>https://www.yahoo.com/*</string>
      </array>
    </dict>
    -->
    <!--
    <key>SecurityDevices</key>
      <!
        dictionary
        Install PKCS #11 modules.
      >
    <dict>
      <key>NAME_OF_DEVICE</key>
      <string>PATH_TO_LIBRARY_FOR_DEVICE</string>
    </dict>
    -->
    <!--
    <key>SSLVersionMin</key>
      <!
        string
        Set and lock the minimum version of TLS.
      >
    <string>tls1.2</string>
    -->
    <!--
    <key>SSLVersionMax</key>
      <!
        string
        Set and lock the maximum version of TLS.
      >
    <string>tls1.3</string>
    -->
    <!--
    <key>SupportMenu</key>
      <!
        dictionary
        Add a menuitem to the help menu for specifying support information.
      >
    <dict>
      <key>Title</key>
      <string>Click here for help</string>
      <key>URL</key>
      <string>http://example.edu/</string>
      <key>AccessKey</key>
      <string>C</string>
    </dict>
    -->
  </dict>
</plist>
